@model Mediska.Models.clsMobile

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<script src="https://www.google.com/recaptcha/api.js?render=6LcXnQAhAAAAAHsJdddHoZkMmX7PrBr1dTPfaJyq"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LcXnQAhAAAAAHsJdddHoZkMmX7PrBr1dTPfaJyq', { action: 'ForgetPass' }).then(function (token) {
            $("#GoogleCaptchaToken").val(token);
        });
    });
</script>

<!--loader start-->
<div id="preloader">
    <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--loader end-->
<!--body content wrap start-->
<div class="main">

    <!--hero section start-->
    <section class="hero-section full-screen gray-light-bg">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">

                <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">

                    <!-- Image -->
                    <div class="bg-cover vh-100 ml-n3 gradient-overlay" style="background-image: url('../../Content/image/medical-15_s.jpg');">
                        <div class="position-absolute login-signup-content">
                            <div class="position-relative text-white col-md-12 col-lg-7">
                                <h2 class="text-white">رمز عبور خود را فراموش کرده اید؟<br> </h2>
                                <p>شما می توانید با وارد کردن شماره موبایل، درخواست رمز عبور جدید نمایید.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6">
                    <div class="login-signup-wrap px-4 px-lg-5 my-5">
                        <!-- Heading -->
                        <h1 class="text-center mb-1">
                            درخواست رمز عبور جدید
                        </h1>

                        <!-- Subheading -->
                        <p class="text-muted text-center mb-5">
                            موبایل
                        </p>

                        <!-- Form -->
                        @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { @class = "login-signup-form" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <div class="input-group input-group-merge">
                                    <div class="input-icon">
                                        <span class="ti-mobile color-primary"></span>
                                    </div>
                                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @type = "tell", placeholder = "موبایل خود را وارد کنید" } })

                                </div>
                            </div>
                            @Html.HiddenFor(model => model.GoogleCaptchaToken)

                            <!-- Submit -->
                            <button class="btn btn-block secondary-solid-btn border-radius mt-4 mb-3">
                                بازیابی رمز عبور
                            </button>

                            <!-- Link -->
                            <div class="text-center">
                                <small class="text-muted text-center">
                                    رمز ورود خود را به خاطر دارید؟ <a href="/Account/Login">ورود به سیستم</a> .
                                </small>
                            </div>
                        }
                    </div>
                </div>
            </div> <!-- / .row -->
        </div>
    </section>
    <!--hero section end-->

</div>
<!--body content wrap end-->
